@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
@import "config.scss";
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  overflow-x: hidden;
  button {
    cursor: pointer;
  }
  img {
    width: 100%;
  }
  .container {
    width: 85%;
    margin: 0 auto;
    .login {
      background-color: $primaryColor;
      width: 350px;
      height: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      border-radius: 20px;
      display: none;
      #close {
        position: absolute;
        right: 3%;
        top: 3%;
        width: 40px;
        height: 40px;
        font-size: 30px;
        background-color: hsla(221, 100%, 71%, 1);
        border: none;
        border-radius: 5px;
        color: black;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 15px;
        h2 {
          color: white;
          padding-bottom: 30px;
        }
        #mail-input,
        .pass {
          padding: 10px 10px;
          width: 70%;
          border-radius: 10px;
          border: none;
          &:focus-visible {
            outline: 2px solid hsla(224, 93%, 58%, 1);
          }
        }
        #btn {
          width: 75%;
          padding: 10px 10px;
          border-radius: 10px;
          border: none;
          outline: none;
          font-family: $rale;
          font-size: 14px;
          letter-spacing: 2px;
          color: white;
          background-color: hsla(224, 93%, 58%, 1);
          transition: 0.5s;

          &:hover {
            background-color: hsla(221, 100%, 71%, 1);
          }
        }
        span {
          color: red;
          font-size: 13px;
          margin-top: -10px;
          display: none;
        }
      }
    }
  }
  header {
    padding-top: 10%;
    @include flex(row);
    img {
      width: 100px;
    }
    menu {
      @include flex(row);
      ul {
        &:first-child {
          padding-right: 24px;
        }
        &:last-child {
          padding-left: 24px;
        }
        li {
          a {
            font-size: 15px;
            font-family: $rale;
            text-transform: capitalize;
            font-weight: 400;
            text-decoration: none;
            color: $primaryColor;
            transition: 0.5s;
            &:hover {
              color: darkblue;
            }
          }
        }
      }
    }
  }
  .top-sec {
    padding-top: 100px;
    img {
      width: 100%;
    }
    .text-box {
      padding-top: 40px;
      padding-bottom: 32px;
      h2 {
        color: $primaryColor;
        text-align: center;
        line-height: 36px;
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 24px;
      }
      p {
        @include para(center, 21px, 14px);
      }
    }
    .mail {
      position: relative;
      input {
        @include input;
      }
      .validation {
        @include validation;
      }
      button {
        @include button;
        transition: 0.5s;
        &:hover {
          background-color: hsla(221, 100%, 71%, 1);
        }
      }
      #email-field {
        padding-left: 5%;
      }
    }
  }
}
.productive {
  margin-top: 180px;
  padding-bottom: 82px;
  background-color: hsla(240, 75%, 98%, 1);
  position: relative;
  .bg {
    position: absolute;
    top: -6%;
  }
  .bg-xl {
    display: none;
  }
  .container {
    .text-box {
      padding-top: 90px;
      h2 {
        color: $primaryColor;
        font-family: $rale;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        padding-bottom: 24px;
      }
      p {
        @include para(center, 21px, 14px);
        color: $paraColor;
      }
      .first {
        padding-bottom: 14px;
      }
      .sec {
        padding-bottom: 36px;
      }
      .fylo-work {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        img {
          width: auto;
        }
        .link {
          display: flex;
          align-items: center;
          position: relative;
          p {
            color: hsla(170, 45%, 43%, 1);
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            padding-right: 8px;
          }
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: hsla(170, 45%, 43%, 1);
            position: absolute;
            top: 22px;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
    .profile {
      background-color: white;
      width: 280px;
      margin: 0 auto;
      box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
      border-radius: 3.93258px;
      padding: 22px 13px 22px 26px;
      img {
        width: auto;
      }
      p {
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.384615px;
        color: $primaryColor;
      }
      .prof-box {
        display: flex;
        align-items: center;
        padding-top: 13px;
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
        .prof-txt {
          padding-left: 10px;
          h2 {
            color: $primaryColor;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 9px;
            line-height: 12px;
            letter-spacing: 0.45px;
          }
          h3 {
            font-weight: 400;
            font-size: 6px;
            line-height: 12px;
            letter-spacing: 0.3px;
            color: $primaryColor;
          }
        }
      }
    }
  }
}
.early-access {
  background-color: hsla(238, 22%, 44%, 1);
  padding-bottom: 70px;
  .container {
    .text-box {
      padding-top: 54px;
      text-align: center;
      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: white;
        font-family: $rale;
        padding-bottom: 16px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: white;
        padding-bottom: 24px;
      }
    }
    .input-box {
      position: relative;
      input {
        @include input;
        border: none;
        padding-left: 5%;
      }
      #validation-sec {
        @include validation;
      }
      button {
        @include button;
        transition: 0.5s;
        &:hover {
          background-color: hsla(221, 100%, 71%, 1);
        }
      }
    }
  }
}
footer {
  background-color: hsla(243, 87%, 12%, 1);
  padding-top: 65px;
  padding-bottom: 42px;
  .container {
    .footer-logo {
      width: auto;
      padding-bottom: 40px;
    }
    .contact {
      display: flex;
      align-items: center;
      img {
        width: auto;
      }
      a {
        text-decoration: none;
        color: white;
        padding-left: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .mail {
      padding-top: 25px;
      padding-bottom: 36px;
    }
  }
  menu {
    nav {
      a {
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        transition: 0.5s;
        &:hover {
          color: hsla(221, 100%, 71%, 1);
        }
      }
      li {
        padding-bottom: 16px;
      }
    }
    .first {
      padding-bottom: 16px;
    }
  }
  .soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    a {
      text-decoration: none;
      transition: 0.5s;
    }
    .fa-brands {
      border: 1px solid white;
      padding: 5px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 50%;
      transition: 0.5s;
      &:hover {
        color: hsla(221, 100%, 71%, 1);
        border-color: hsla(221, 100%, 71%, 1);
      }
    }
  }
}

@include media-md {
  .tablet-mail,
  .input-box {
    width: 50%;
    margin: 0 auto;
  }
  .footer-box {
    @include flex(row);
    align-items: flex-start;
    menu {
      display: flex;
      gap: 50px;
    }
  }
  .productive {
    .container {
      .productive-box {
        .profile {
          width: 330px;
          p {
            font-size: 12px;
          }
          .prof-box {
            img {
              width: 48px;
              height: 48px;
            }
            .prof-txt {
              h2 {
                font-size: 12px;
                padding-bottom: 10px;
              }
              h3 {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-xl {
  body {
    img {
      width: auto;
    }
    .container {
      header {
        padding-top: 5%;
        img {
          width: auto;
        }
        menu {
          ul {
            li {
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
      .top-sec {
        display: flex;
        flex-direction: row-reverse;
        img {
          width: 50%;
        }
        .text-box {
          h2,
          p {
            text-align: left;
          }
        }
        .tablet-mail {
          display: flex;
          width: 100%;
          align-items: flex-start;
          gap: 20px;
          button {
            width: 70%;
            height: 45px;
          }
          .validation {
            bottom: -6%;
          }
        }
      }
    }
    .productive {
      .bg {
        display: none;
      }
      .bg-xl {
        display: block;
        position: absolute;
        top: -15%;
        width: 100vw;
      }
      .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        .main-img {
          width: 40%;
          height: 410px;
        }
        .productive-box {
          .text-box {
            h2 {
              text-align: left;
              font-size: 35px;
            }
            p {
              text-align: left;
            }
            .first,
            .sec {
              width: 400px;
            }
            .fylo-work {
              justify-content: flex-start;
            }
          }
          .profile {
            margin: 0;
          }
        }
      }
    }
    .early-access {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
      }
      .text-box {
        padding-top: 0;
        h2 {
          text-align: left;
          font-size: 32px !important;
          padding-bottom: 20px !important;
        }
        p {
          text-align: left;
          font-size: 14px !important;
          width: 450px;
          line-height: 24px !important;
        }
      }
      .input-box {
        width: 40%;
        margin: 0;
        position: relative;
        .validation {
          @include validation;
        }
        button {
          width: 50% !important;
        }
      }
    }
    footer {
      .container {
        .footer-box {
          menu {
            gap: 140px;
          }
        }
      }
    }
  }
}
